
RewriteEngine on
RewriteCond %{HTTP_HOST} ^viethahumaira\.store$ [OR]
RewriteCond %{HTTP_HOST} ^www\.viethahumaira\.store$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/.+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/viethahumaira\.store\/index\.php" [R=301,L]

